.positionName, .companyName {
    color: #334680;
    overflow: hidden;
    position: relative;
    text-align: justify;
    padding-right: 1em;
    max-width: 600px;
}
.positionName {
    margin-bottom: 14px;
    font-size: 1.2rem;
    line-height: 1.2em;
    max-height: 45px;
}
.companyName {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    max-height: 17px;
}
.positionName::before,
.companyName::before {
    content: "…";
    position: absolute;
    right: 0;
    bottom: 0;
}
.positionName::after,
.companyName::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
